html {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
  }
  
  body {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(rgb(6, 116, 29), rgb(0, 0, 0));
  }
  
  button {
    font-size: 20px;
  }

  img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
  }
  
  #main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 1px;
  }
  
  #list {
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  
  /*  https://www.w3schools.com/howto/howto_css_images_side_by_side.asp
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
  